mediapipe==0.10.14
numpy==1.26.0
opencv-python==4.10.0.84
pillow==10.4.0
PyAudio==0.2.14
spacy==3.7.5
torch==2.3.1
torchtext==0.6.0
torchvision==0.18.1
tqdm==4.66.4
transformers==4.42.4
Wave==0.0.2
openai~=1.40.8
mistralai==1.0.1
anthropic==0.34.0
fastapi==0.111.1
pydantic==2.8.2
requests==2.32.3
pymongo==4.8.0
pyyaml==6.0.1